/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import "tailwindcss";
@plugin '@tailwindcss/typography';
@custom-variant dark (&:where(.dark, .dark *));

:root {
    --accent: #ff9300;
    --background: light-dark(#EEEEEE, #000000);
    --text: light-dark(#1D1D1D, #FFFFFF);
    /* Navigation bar. */
    --header-height: 4.5rem;
    --header-blur-height: calc(var(--header-height) * 1.5);

    /* Content box. */
    --content-max-width: 40rem;
    --content-gutter: 1.25rem;
    color-scheme: dark;
}
html {
    scroll-padding-top: var(--header-height);
}
@media (prefers-reduced-motion: reduce) {
    ::view-transition-group(*),
    ::view-transition-old(*),
    ::view-transition-new(*) {
        animation: none;
    }
}
body {
    font-family: Inter,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    margin: 0;
    padding: 0;
    text-align: left;
    background: var(--background);
    background-size: 100% 600px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: var(--text) !important;
    font-size: 20px;
    line-height: 1.7;
}
main {
    width: 100%;
    max-width: min(var(--content-max-width), calc(100% - 2 * var(--content-gutter)));
    margin-inline: auto;
    padding: 1em var(--content-gutter) 3em;
}
img {
    max-width: 100%;
    height: auto;
}
code {
    padding: 2px 5px;
    color: var(--text);
    background-color: #111;
    border-radius: 2px;
}
.prose {
    color: var(--text) !important;
}
pre {
    padding: 1.5em;
    border-radius: 8px;
}
pre > code {
    all: unset;
}
blockquote {
    border-left: 4px solid var(--accent);
    padding: 0 0 0 20px;
    margin: 0px;
    font-size: 1.333em;
    color: var(--text) !important;
}
hr {
    border: none;
    border-top: 1px solid #111;
}

.sr-only {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    white-space: nowrap;
}
